
*{
	margin: 0;
	padding: 0;
}
.body{
    position: relative;
    top: 0;
    background-position: center;
    background-size: cover;

}
.table{
	text-align: center;
	margin: 0 auto;
	width: 80%;
	font-family: "Open sans";
	color: #000;
	
}
caption{
    font: 3em "Open sans";
}
.description{
	width: 40%;
}
.table{
	text-align: center;
	margin: auto;
	width: 80%;
	font-family: "Open sans";
	color: #000;
	
}