*{
	margin: 0;
	padding: 0;
}
a {
   position: relative;
   outline: 0;
   text-decoration: none;

}
li{
	text-decoration: none;
}
body {
	
}
header{
	position: relative;
    top: 0;
    background-position: center;
    background-size: cover;
    
}
.grid{
  display: grid;
}
.center{
  text-align: center;
}

.heightContainer {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 2%;
}

.thisContainer {
    width: 1170px;
    margin: auto;
    padding-left: 3%;
    padding-right: 3%;
    box-sizing: border-box;
}
.landingPage {
    width: 100%;
}

.abonm{
  
  text-align: center;
  margin: 0 auto;
}

.center{
  text-align: center;
}
nav .menu{
  grid-template-columns: repeat(2,1fr); 
  
  
}

.body{
  position: relative;
    top: 0;
    background-position: center;
    background-size: 200%;
    background-attachment: scroll;
    background-repeat: no-repeat;
    

}
.display{
  display: inline-block;
  font-size: 1.5em;
  padding: 0 3%;
  font-family: 'Duru Sans', sans-serif; 
}
nav .menu a{
  margin-top: 2%;
  text-decoration: none;
}
.menu a p{
  color: #000 ;
  font-size: 4em;
  font-family: 'Allerta Stencil', sans-serif;
  text-decoration: none;

  
}
  
.active {
  font-size: 3em;
  text-align: center;
}
.icon1 a{
  text-decoration: none;
  color: #000;
 } 
.icon1{
 
  display: inline-block;
}
.menu{
  width: 100%;
  margin: 0 auto;
}
h2{
  font-family: 'Duru Sans', sans-serif;
}
h1{
  font-family: "Open Sans";
  font-size: 1.5em;
  font-weight: 800;
}
.hhh p{
  font-family: "Open Sans";
  font-size: 0.5em;
  padding: 1% 0;
}
.hhh{
  padding: 3% 3%;
}
.www{
  margin: 30% 3% 0 0;
  font-family: "Open Sans";
  font-size: 0.5em;
  

}
.personalCaby1 .abonm{
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(6,1fr);
}
.abonm{
  padding-top:5%; 
}
.nav a{
  color: #000;
}
.nav li{
  font-size: 2em;

}
.photo{
  padding: 15% 0;
  margin-left: 25%;
  }
.abonm .photo:nth-child(1){
  grid-column:1 / 2;
}
.abonm .hhh:nth-child(2){
  grid-column:2 / 3;
}
.abonm .www:nth-child(3){
  grid-column:3 / 4;
}
.abonm .photo:nth-child(4){
  grid-column:1 / 2;
}
.abonm .hhh:nth-child(5){
  grid-column:2 / 3;
}
.abonm .www:nth-child(6){
  grid-column:3 / 4;
}
.abonm .photo:nth-child(7){
  grid-column:1 / 2;
}
.abonm .hhh:nth-child(8){
  grid-column:2 / 3;
}
.abonm .www:nth-child(9){
  grid-column:3 / 4;
}
.abonm .photo:nth-child(10){
  grid-column:1 / 2;
}
.abonm .hhh:nth-child(11){
  grid-column:2 / 3;
}
.abonm .www:nth-child(12){
  grid-column:3 / 4;
}
.abonm .photo:nth-child(13){
  grid-column:1 / 2;
}
.abonm .hhh:nth-child(14){
  grid-column:2 / 3;
}
.abonm .www:nth-child(15){
  grid-column:3 / 4;
}
.abonm .photo:nth-child(16){
  grid-column:1 / 2;
}
.abonm .hhh:nth-child(17){
  grid-column:2 / 3;
}
.abonm .www:nth-child(18){
  grid-column:3 / 4;
}
button{
  width: 200px;
  height: 60px;

}
.tab-content{
  background-color: rgba(255,255,255,.5);
  padding: 1% 0;
}
.nav-tabs{
  background-color: rgba(255,255,255,.5);
}