<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>personal-caby</title>
	<link rel="stylesheet" href="static/css/pc.css">
	<link rel="stylesheet" href="static/css/footer.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Unica+One|Open+Sans:600|Duru+Sans" rel="stylesheet">
	<link href="https://unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Unica+One" rel="stylesheet">

</head>
<body>
	<header class=" landingPage" id="personalCaby1" >
		
			<nav class="nav grid center">
			<div class="menu grid">
				<a href="/"><p class="logo">POWER GUM</p></a>
				<a href="#"><p>Все Абонементы</p></a>
				<a href="#"><p> Мои Абонементы</p></a>
				<div class="userpannel">
				<p class="display">Имя пользователя</p>
				<div class="icon1"><a href=""><ion-icon name="log-in" size="large"></a></ion-icon></div>
				</div>
			</div>
			</nav>
	</header>
		
		<section class="headerContainer personalCaby1 heightContainer thisContainer center ">
			<div class="abonm grid center">
				<img class="photo" src="static/img/06-00.png" alt="">
				<h1 class="hhh">Утренний <p >Очень удобен для фанатов утренней пробежки.
				Не прозевайте свое спортивное утро.</p></h1>
				<button class="www">
					Заказать
				</button>
				<img class="photo" src="static/img/06-00.png" alt="">
				<h1 class="hhh">Утренний <p >Очень удобен для фанатов утренней пробежки.
				Не прозевайте свое спортивное утро.</p></h1>
				<button class="www">
					Заказать
				</button>
				<img class="photo" src="static/img/06-00.png" alt="">
				<h1 class="hhh">Утренний <p >Очень удобен для фанатов утренней пробежки.
				Не прозевайте свое спортивное утро.</p></h1>
				<button class="www">
					Заказать
				</button>
				<img class="photo" src="static/img/06-00.png" alt="">
				<h1 class="hhh">Утренний <p >Очень удобен для фанатов утренней пробежки.
				Не прозевайте свое спортивное утро.</p></h1>
				<button class="www">
					Заказать
				</button>
				<img class="photo" src="static/img/06-00.png" alt="">
				<h1 class="hhh">Утренний <p >Очень удобен для фанатов утренней пробежки.
				Не прозевайте свое спортивное утро.</p></h1>
				<button class="www">
					Заказать
				</button>
				<img class="photo" src="static/img/06-00.png" alt="">
				<h1 class="hhh">Утренний <p >Очень удобен для фанатов утренней пробежки.
				Не прозевайте свое спортивное утро.</p></h1>
				<button class="www">
					Заказать
				</button>
		</div>
		</section>



<script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>
	
</body>