<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>personal-caby</title>
    <link rel="stylesheet" href="static/css/pc.css">
    <link rel="stylesheet" href="static/css/footer.css">
    <link rel="stylesheet" href="static/css/user_abonements.css">
    <link href="//fonts.googleapis.com/css?family=Noto+Sans|Unica+One|Open+Sans:600|Duru+Sans" rel="stylesheet">
    <link href="//unpkg.com/ionicons@4.1.2/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Noto+Sans|Unica+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body class="body" style="background-image: url(static/img/back_log_in.png" );>
<!--Logo and logout-->
<header class=" landingPage" id="personalCaby1">

    <nav class="nav grid center">
        <div class="menu grid">
            <a href="/"><p class="logo">POWER GUM</p></a>
            <div class="userpannel">
                <p class="display">Имя пользователя</p>
                <a href=""><img src="/static/img/sign-out.png" alt=""></a>
            </div>
        </div>
    </nav>

</header>


<div class="container">
    <!--Menu-->
    <ul class="nav nav-tabs">

        <li class="active"><a data-toggle="tab" href="#home">Услуги</a></li>
        <li><a data-toggle="tab" href="#menu1">Мои абонементы</a></li>
        <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
        <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>

    </ul>

    <div class="tab-content">
        <!--Anable abonements-->
        <div id="home" class="tab-pane fade in active">
            <p>Здесь вы можете заказать абонемент</p>
            <div class="abonm grid center">
                {% for offer in offers %}
                    <img class="photo" src="static/img/06-00.png" alt="">
                    <h1 class="hhh">{{offer.name}}<p>{{offer.description}}</p></h1>
                    <button class="www">
                        Заказать
                    </button>
                {% endfor %}
            </div>

        </div>
        <!-- Your own abonements-->
        <div id="menu1" class="tab-pane fade">
            <p>Здесь Вы можете просматривать ваши абонементы</p>
            <div class="abonm grid center">
                <img class="photo" src="static/img/06-00.png" alt="">
                <h1 class="hhh">Утренний <p>Очень удобен для фанатов утренней пробежки.
                    Не прозевайте свое спортивное утро.</p></h1>
                <button class="www">
                    Заказать
                </button>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam.</p>
        </div>
        <div id="menu3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>


<script src="https://unpkg.com/ionicons@4.1.2/dist/ionicons.js"></script>

</body>