*{
	margin: 0;
	padding: 0;
}
.body{
    position: relative;
    top: 0;
    background-position: center;
    background-size: cover;

}
.table{
	text-align: center;
	margin: auto;
	width: 80%;
	font-family: "Open sans";
	color: #000;
    border-collapse: collapse;
	
}
caption {
  padding: 10px;
  
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: center;
}
td {
  padding: 10px;
}
tr:nth-child(odd) {
  background: white;
}
tr:nth-child(even) {
  background: #E8E6D1;
}
.description{
	width: 40%;
}
.table button{
    display: inline-block;
  padding: 5px 10px;
  background: rgb(0,0,255, .2);
  box-shadow: 2px 2px 0 0 #0c10a0;
  position: relative;

}
.table button:hover {
    background-color: rgba(0,0,255,.4);
    cursor: pointer;
}
caption{
    font: 3em "Open sans";
}