<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>addForm</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="static/css/all_abonements.css">
    <link rel="stylesheet" href="static/css/menu.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Unica+One" rel="stylesheet">
</head>
<body class="body" style="background-image: url(static/img/back_for_add-bright.jpg);">
<header>
</header>
<section class="features">
    <nav class="nav grid ">
        <div class="menu grid">
            <a href="/add_offer"><p>Добавить абонемент</p></a>
            <a href="#"><p class="curent">Все абонементы</p></a>
            <a href="/accepted"><p>Принятые абонементы</p></a>
            <a href="/rejected"><p>Отклоненные</p></a>
            <a href="/new_abonements"><p>Новые</p></a>
            <a href="/archive"><p>Архив</p></a>
        </div>
    </nav>
</section>
<section class="container">
    <table class="table" border="1">
        <caption>Все абонементы</caption>
        <tr>
            <th>Название</th>
            <th>Время</th>
            <th>Описание</th>
            <th>Цена</th>
            <th>Изменить</th>
            <th>Удалить</th>
        </tr>
        {% for offer in offers %}
        <tr id="{{offer.name}}">
            <td class="name">{{offer.name}}</td>
            <td class="time">12-00</td>
            <td class="description">{{offer.description}}</td>
            <td class="value">{{offer.cost}}</td>
            <td class="button">
                <button onclick="changeOffer('{{offer.name}}');">изменить</button>
            </td>
            <td class="button">
                <button onclick="deleteOffer('{{offer.name}}');">удалить</button>
            </td>
        </tr>
        {% endfor %}
    </table>

</section>
<script>
    function changeOffer(offername) {
        alert(offername);
    }

    function deleteOffer(offername) {
        $("#" + offername).remove();
        let data = new FormData()
        data.append('offer_name', offername)
        axios.post('/delete_offer', data
            ).then(function (response) {
                console.log(response.data)
            })
            .catch(function (error) {
                console.log(error)
            });
    }
</script>
</body>
</html>
