<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>addForm</title>
	<link rel="stylesheet" href="static/css/accepted.css">
	<link rel="stylesheet" href="static/css/menu.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Unica+One" rel="stylesheet">
</head>
<body class="body" style="background-image: url(static/img/back_for_add.jpg);">

		<header>
	</header>
	<section class="features">
		<nav class="nav grid ">
			<div class="menu grid">
				<a href="/add_offer"><p>Добавить абонемент</p></a>
				<a href="/all_abonements"><p>Все абонементы</p></a>
				<a href="#"><p class="curent">Принятые абонементы</p></a>
				<a href="/rejected"><p>Отклоненные</p></a>
				<a href="/new_abonements"><p>Новые</p></a>
				<a href="/archive"><p>Архив</p></a>
			</div>
		</nav>
	</section>
	<section class="container">
		
	</section>		
</body>
</html>