<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>addForm</title>
	<link rel="stylesheet" href="static/css/add_form.css">
	<link rel="stylesheet" href="static/css/menu.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Unica+One" rel="stylesheet">
</head>
<body class="body" style="background-image: url(static/img/back_for_add-bright.jpg);">

		<header>
	</header>
	<section class="features">
		<nav class="nav grid ">
			<div class="menu grid">
				<a href="#"><p class="curent">Добавить абонемент</p></a>
				<a href="/all_abonements"><p>Все абонементы</p></a>
				<a href="/accepted"><p>Принятые абонементы</p></a>
				<a href="/rejected"><p>Отклоненные</p></a>
				<a href="/new_abonements"><p>Новые</p></a>
				<a href="/archive"><p>Архив</p></a>
			</div>
		</nav>
	</section>
	<section class="container">
		<form action="">

			<label for="" class="label">Название абонемента</label><br>
			<input type="text" id="" class="input"><br>


			<label for="" class="label" >Описание абонемента</label><br>
			<textarea   id="" name="text" class="input1"></textarea><br>


			<label for="" class="label cost" >Цена</label>
			<input type="text" id="" class="input2">
			<label for="" class="label places" >Мест</label>
			<input type="text" id="" class="input2"><br>

			<button>
				<p>Добавить</p>
			</button>
		</form>
		
	</section>		
</body>
</html>