<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>addForm</title>
	<link rel="stylesheet" href="static/css/add_form.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Unica+One" rel="stylesheet">
</head>
<body class="body" style="background-image: url(static/img/back_for_add.jpg);">

		<nav class="nav grid center">
			<div class="menu grid">
				<a href="#"><p>Все абонементы</p></a>
				<a href="#"><p>Принятые абонементы</p></a>
				<a href="#"><p>Отклоненные</p></a>
				<a href="#"><p>Новые</p></a>
				<a href="#"><p>Архив</p></a>
			</div>
		</nav>
		<header>
	</header>
	<section class="container">
		<form action="">

			<label for="" class="label">Название абонемента</label><br>
			<input type="text" id="" class="input"><br>


			<label for="" class="label" >Описание абонемента</label><br>
			<input type="text" id="" class="input1"><br>


			<label for="" class="label2" >Цена</label>
			<input type="text" id="" class="input2">
			<label for="" class="label3" >Мест</label>
			<input type="text" id="" class="input2"><br>

			<button>
				<p>Изменить</p>
			</button>
		</form>
		
	</section>		
</body>
</html>