<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>addForm</title>
	<link rel="stylesheet" href="static/css/all_abonements.css">
	<link rel="stylesheet" href="static/css/menu.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Unica+One" rel="stylesheet">
</head>
<body class="body" style="background-image: url(static/img/back_for_add-bright.jpg);">

		<header>
	</header>
	<section class="features">
		<nav class="nav grid ">
			<div class="menu grid">
				<a href="/add_offer" ><p>Добавить абонемент</p></a>
				<a href="#"><p class="curent">Все абонементы</p></a>
				<a href="/accepted"><p>Принятые абонементы</p></a>
				<a href="/rejected"><p>Отклоненные</p></a>
				<a href="/new_abonements"><p>Новые</p></a>
				<a href="/archive"><p>Архив</p></a>
			</div>
		</nav>
	</section>
	<section class="container">
		<table class="table" border="1">
			<caption>Все абонементы</caption>
			<tr>
				<th>Время</th>
				<th>Описание</th>
				<th>Цена</th>
				<th>Удалить</th>
				<th>Добавить</th>
				
			</tr>
			<tr>
				<td class="time">12-00</td>
				<td class="description">Описание абонементажвылофпрзшыгрпж ыфвожщпрзфыщш ьнрвпш рвпзшгр</td>
				<td class="value">350грн</td>
				<td class="button"><button>удалить</button></td>
				<td class="button"><button>добавить</button></td>
			</tr>
		</table>

	</section>		
</body>
</html>