<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Power_gum</title>
	<link rel="stylesheet" href="static/css/main.css" >
	<link rel="stylesheet" href="static/css/footer.css" >
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Unica+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Allerta+Stencil" rel="stylesheet">

</head>
<body>
	<nav class="nav grid center">
			<div class="menu grid">
				<a href="#instructors"><p>Инструкторы</p></a>
				<a href="#"><p>Отзывы</p></a>
				<a href="#abonements"><p>Абонементы</p></a>
				<a href="/personal_room"><p>Личный кабинет</p></a>
			</div>
		</nav>
	<header class ="header" style = "background-image: url(static/img/upper.jpg);">
		<div class="headerContainer heightContainer thisContainer center">
			<p class="title">power gym</p>
			<p class="title1">ваш пропуск в спортивный образ жизни.
Будьте активными.
Будьте другими. </p>
		</div>
	</header>
	<section class="about landingPage" id="about">
		<h3 class="header">Что мы предлагаем?</h3>
		<div class="thisContainer grid">
				<div class ="block">
					<img src="static/img/icon1.png" width="100" height="100"  alt="Услуга">
					<p>
						Квалификация наших иснтрукторов одна из самых внушительных среди всех конкурентов. Поверьте, они знают свое дело!
					</p>
				</div>
				<div class="block">
					<img src="static/img/icon2.png" width="100" height="100" alt="Услуга">
					<p>
						Мы не требуем заоблачных сумм за занятия. Ведь мы понимаем, что спорт должен быть доступным!
					</p>
				</div>
				<div class="block">
					<img src="static/img/icon3.png" width="100" height="100" alt="Услуга">
					<p>
						У каждого есть свои дела. Поэтому мы стараемся строить максмально гибкий график, чтобы Вам было удожно заниматься!
					</p>
				</div>
				<div class ="block">
					<img src="static/img/icon4.png" width="100" height="100" alt="Услуга">
					<p>
						Подарки — это всегда приятно! Поэтому мы стараемся чаще радовать наших клиенов чудесными скидками.
					</p>
				</div>
			</div>
	</section>
	<section class="instructors landingPage" id="instructors">
		<h3 class="header">Наши инструкторы</h3>
		<div class="thisContainer grid ">
			<div class="photo1"><img src="static/img/instructor1.png" alt="Инструкторы" class="instr1"></div>
			<div class="description1">
				<ul class="first_instr">
						<li class="initials">
							Владислав Толокнов
						</li>
						<li class="age">
							20 лет
						</li>
						<li class="description">
							Энергичный, коммуникабельный и открытый человек. Может показать и научить, продемонстрировать на своем примере, а также квалифицированно исправить ошибки начинающих кочков.
						</li>
					</ul>
			</div>
			<div class="description2">
				<ul class="second_instr">
						<li class="initials">
							Елена Донцова
						</li>
						<li class="age">
							20 лет
						</li>
						<li class="description">
							Опытный тренер, перепробовававший огромное количество техник, но остановившийся на одной — по его мнению самой эффективной. Результативный наставник и ментор, готовый в любую минуту прийти на помощь. И нет, она не ее сестра, пусть это не пугает Вас.
						</li>
					</ul>
			</div>
			<div class="photo2"><img src="static/img/instructor2.png" alt="Инструкторы"  class="instr2"></div>
		</div>
	</section>
	<section class="abonements landingPage" id="abonements">
		<h3 class="header">Абонементы</h3>
		<div class="thisContainer grid ">
			<div class="abonement">
				<img src="static/img/06-00.png" alt="">
				<h4>Утренний</h4>
				<p>Для жаворонков, котовых работать над собой с самого утра.</p>
				<h4>350 грн</h4>
			</div>
			<div class="abonement">
				<img src="static/img/12-00.png" alt="">
				<h4>Дневной </h4>
				<p>Чтобы день прошел продуктивно, а главное - чтобы спортивно! </p>
				<h4>400 грн</h4>
			</div>
			<div class="abonement">
				<img src="static/img/18-00.png" alt="">
				<h4>Вечерний</h4>
				<p>Для тех, кто по уши в работе, но желает всегда быть в
хорошей форме.</p>
				<h4>450 грн</h4>
			</div>
			<div class="abonement">
				<img src="static/img/nolimit.png" alt="">
				<h4>Безлимит</h4>
				<p>Выбирайте любое время - мы будем рады Вам всегда!</p>
				<h4>500 грн</h4>
			</div>
			<div class="abonement">
				<img src="static/img/student.png" alt="">
				<h4>Студенческий</h4>
				<p>ДОбучение нужно совмещать со спортивной
деятельностью.</p>
				<h4>300 грн</h4>
			</div>
			<div class="abonement">
				<img src="static/img/weekend.png" alt="">
				<h4>Выходной</h4>
				<p>Для тех, кто ну
о-о-очень по уши в работе.</p>
				<h4>450 грн</h4>
			</div>
		</div>
		<h3 class="header">Заинтересованы?</h3>
		<div class="thisContainer ">
			<div class="href">
			<a href="log_in.html" class="button">Получить абонемент</a></div>
		</div>
	</section>

	<footer>
		<div class="thisContainer">
			<div class="footmenu">
				<div class="footmenu_row">
					<div class="footmenu_item1">
						<a href="index.html">power gym</a>
					</div>

					<div class="footmenu_item">
						<a href="#">О нас</a>
					</div>

					<div class="footmenu_item" >
						<a href="#">Поддержка</a>
					</div>

					<div class="footmenu_item">
						<a href="#">Форум</a>
					</div>

					<div class="footmenu_item">
						<a href="#">Обратная связь</a>
					</div>
				</div>
			</div>

					<hr size="3" width="1085" color="#fff">
			<div class="social">
				<a href="#"><img src="static/img/facebook.png" alt=""></a>
				<a href="#"><img src="static/img/Google.png" alt=""></a>
				<a href="#"><img src="static/img/Instagram.png" alt=""></a>
				<a href="#"><img src="static/img/vk.png" alt=""></a>
			</div>
			<div class="note">all rights reserved</div>
		</div>
	</footer>
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="js/script.js"></script>
</body>
</html>