<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>personal-caby</title>
	<link rel="stylesheet" href="static/css/pc.css">
	<link rel="stylesheet" href="static/css/footer.css">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Unica+One|Open+Sans:600|Duru+Sans" rel="stylesheet">
</head>
<body>
	<header class="personalCaby1 landingPage" id="personalCaby1" style="background-image: url(static/img/back_log_in.png);">
		<div class="headerContainer heightContainer thisContainer center">
			<div class="logo">
			<a href="index.html"><img src="static/img/logo.png" alt=""></a>
		</div>
			<nav class="nav grid center">
			<div class="menu grid">
				<a href="#"><p>новости</p></a>
				<a href="#"><p>Абонементы</p></a>
				<a href="#"><p>Настройки</p></a>
			</div>
			</nav>
		<div class="abonm grid center">
				<img class="photo" src="static/img/06-00.png" alt="">
				<h1 class="hhh">Утренний <p >Очень удобен для фанатов утренней пробежки.
				Не прозевайте свое спортивное утро.</p></h1>
				<button class="www">
					Заказать
				</button>
				<img class="photo" src="static/img/06-00.png" alt="">
				<h1 class="hhh">Утренний <p >Очень удобен для фанатов утренней пробежки.
				Не прозевайте свое спортивное утро.</p></h1>
				<button class="www">
					Заказать
				</button>
				<img class="photo" src="static/img/06-00.png" alt="">
				<h1 class="hhh">Утренний <p >Очень удобен для фанатов утренней пробежки.
				Не прозевайте свое спортивное утро.</p></h1>
				<button class="www">
					Заказать
				</button>
				<img class="photo" src="static/img/06-00.png" alt="">
				<h1 class="hhh">Утренний <p >Очень удобен для фанатов утренней пробежки.
				Не прозевайте свое спортивное утро.</p></h1>
				<button class="www">
					Заказать
				</button>
				<img class="photo" src="static/img/06-00.png" alt="">
				<h1 class="hhh">Утренний <p >Очень удобен для фанатов утренней пробежки.
				Не прозевайте свое спортивное утро.</p></h1>
				<button class="www">
					Заказать
				</button>
				<img class="photo" src="static/img/06-00.png" alt="">
				<h1 class="hhh">Утренний <p >Очень удобен для фанатов утренней пробежки.
				Не прозевайте свое спортивное утро.</p></h1>
				<button class="www">
					Заказать
				</button>
		</div>




	</header>
	
</body>